@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
}

.filter-container {
  height: 100vh;
  margin: 2rem 0;
}

.list-button {
  transition: all ease-in-out 0.3s;
}

.list-button:hover,
.list-button.active {
  background-color: #374151;
  color: rgb(214, 214, 214) !important;
}
