@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html.light .feature-container.breadcrumb-container path {
  color: red;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --color-primary: #161a42;
  --color-primary-light: #212760;
  --tran-md: all ease-in-out 0.3s;
  --lin-grad: linear-gradient(to bottom, #3d5ffd, #7f55ec);
  --color-light: rgb(95, 95, 95);
}

* {
  color: white;
}
/*utilities*/

.bg-primary {
  background-color: #161a42;
}

.button-primary {
  background: var(--lin-grad);
  padding: 0.5rem 0;
  min-width: 150px;
  color: white;
  border-radius: 20px;
  transition: all ease-in-out 0.2s;
  outline: none;
}

.button-primary-hover:hover,
.button-primary-hover:focus {
  box-shadow: 0 0 8px 5px var(--color-primary);
}

.bg-primary-light {
  background-color: var(--color-primary-light) !important;
}

.color-white {
  color: #fff;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

body {
  background-color: #111827;
}

.filter-container {
  margin: 0 0;
}

.filter-list {
  border: none;
}
.list-button {
  transition: all ease-in-out 0.3s;
  border: 1px solid #585858;
  border-radius: 30px;
  padding: 0.5rem;
  min-width: 80px;
  margin-bottom: 0.5rem;
}

.list-button:hover,
.list-button.active {
  background-color: #ff457d;
  color: white !important;
  border-color: #ff457d;
}
/*#2E357B*/

/*navbar*/

.navbar-container {
  background-color: #161a42;
}

.custom-list {
  display: flex;
  align-items: center;
  display: none;
}

.custom-navbar-link {
  position: relative;
  height: 100%;
  color: white;
}
.custom-navbar-link.active::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 10%;
  height: 9%;
  width: 80%;
  background-color: #1e6cca;
}

.account-address {
  color: wheat;
  text-align: left;
  padding-left: 10px;
}

.account-address span {
  color: gray;
}

.user-button {
  border-left: 1px solid rgba(255, 255, 255, 0.466);
  padding-left: 1rem;
}

.theme-button {
  border-right: 1px solid #fff;
  padding-right: 1rem;
  background: transparent !important;
}

.dropdown-item {
  transition: all ease-in-out 0.3s;
  color: white;
  display: flex;
}

.dropdown-item svg {
  margin-right: 0.5rem;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.493);
}

.dropdown-item:hover {
  color: #161a42;
}

/*toggler style*/

.main-container {
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1000;
  background-image: url("../public/header.png");
}
/*header component*/

.header {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80%;
  justify-content: center;
  margin-top: 0 !important;
}

.header-button {
  margin: 1rem 1rem 0 0;
  padding: 0.5rem 1rem;
  width: 8rem;
  border-radius: 20px;
  font-weight: 300;
  transition: var(--tran-md);
}

.header-button:not(:first-of-type) {
  border: 1px solid #fff;
}

.header-button:not(:first-of-type):hover {
  background-color: var(--color-primary);
}

.header-button.active {
  background: var(--lin-grad);
}

/*top card section */

.top-card div:first-child {
  background-image: url(../public/top.png);
  background-size: contain;
  background-position: left;
  background-repeat: none;
}

.top-card div {
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-card-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 1 px solid white;
  outline-offset: 2px;
}
.top-card-img-container {
  border-radius: 50%;
  outline: 1px solid #ffb8b8;
  outline-offset: 6px;
}

.buy-button {
  background-image: var(--lin-grad);
  padding: 0.5rem 0.8rem;
  border-radius: 18px;
  transition: var(--tran-md);
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.buy-button:focus {
  transform: translateY(0px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.13);
}

.buy-button.wide {
  max-width: 10rem;
  min-width: 7rem;
}

.buy-button.medium {
  width: 8rem;
}
.feature-card {
  margin-bottom: 3rem;
}
.feature-icon-container svg {
  font-size: 3rem;
}

/*Category Section*/

.nft-card {
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 1rem;
}

.nft-details {
  display: flex;
}

.nft-details img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.ntf-card-img img {
  border-radius: 10px;
  width: 100%;
}
.open-icon svg {
  margin-left: auto;
  display: block;
  border: 1px solid #2e357b;
  padding: 0.5rem;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.nft-card-container .account-address {
  border-bottom: 1px solid var(--color-light);
  padding-bottom: 1rem;
}

/*Footer*/

.custom-footer {
  background-color: #2d3582;
}

/*bread crumb container */

.breadcrumb-container {
  border-bottom: 1px solid var(--color-light);
}

/*Form section*/

.submit-button {
  background: var(--lin-grad);
  padding: 0.8rem 2.5rem;
  border-radius: 20px;
}

.price-container {
  position: relative;
  overflow: hidden;
}

.price-container input:focus {
  outline: none;
}

.eth {
  position: absolute;
  top: 50%;
  transform: translateY(-46%);
  /* height: 100%; */
  right: 2px;
  background-color: var(--color-primary-light);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25px;
}

/*slider secciton*/

.slider-container {
  position: relative;
  height: 300px;
}

.slider-container:hover .slider-img-box:not(:hover) {
  transform: scale(0.9);
}

.slider-img-box {
  width: 250px;
  height: 250px;
}

.slider-img-box {
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.slider-img-box.img-1 {
  z-index: 3;
  transform: scaleY(1.1);
}

.slider-img-box.img-2 {
  left: 20%;
  z-index: 2;
  transform: scale(0.98);
}

.slider-details {
  position: absolute;
  left: 10%;
  top: 10%;
}

.slider-details h1,
.slider-details p,
.slider-details span {
  color: white !important;
  display: flex;
  align-items: center;
}

.slider-img-box.img-3 {
  left: 40%;
  z-index: 1;
  transform: scale(0.9);
}

.slider-img-box:hover {
  transform: scaleY(1.1);
  z-index: 5;
}

.slider-img-box:hover .slider-img-box:not(:hover) {
  display: none;
}
.group-icon {
  position: absolute;
  top: 50%;
  z-index: 500;
  width: 90px;
  left: 0;
  transform: translate(-50%, -50%);
}

.lower-part {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
}

.test {
  outline: none !important;
}

.upload-img-button:focus {
  outline: none !important;
}

/*currency details section */

.currency {
  background: linear-gradient(to bottom, #161a42, #0d0f23);
  border-radius: 5px;
}

.buynow {
  background: var(--lin-grad);
}

.buynow,
.share {
  margin-top: 1rem;
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  min-width: 180px;
}

.share {
  transition: var(--tran-md);
  border: 1px solid #505cf8;
}
.share:hover,
.share:focus {
  background-color: #505bf877;
}

.show-more {
  transition: var(--tran-md);
}

.show-more:hover {
  color: rgb(104, 104, 255);
}

/*Popup*/
/*
.overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.4s;
}

.overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay.hidden form {
  transform: scale(0);
}

.overlay form {
  min-width: 310px;
  min-height: 300px;
  transform: var(--tran-md);
  background-color: var(--color-primary-light);
}

.close-button {
  background: #7e89f3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0.1rem;
  font-size: -3.8rem;
  color: green;
  cursor: pointer;
  transition: var(--tran-md);
}
*/
/*media queries */

@media only screen and (max-width: 767px) {
  .account-address.hide {
    display: none !important;
  }

  .main-container,
  .custom-footer {
    padding: 1rem;
  }

  .header {
    width: 100%;
  }

  .header h1 {
    font-size: 1.5rem !important;
    font-weight: bold;
    line-height: 3rem;
  }
  .header p {
    font-size: 1.1rem !important;
    font-weight: 200;
  }
}

@media only screen and (max-width: 450px) {
  .slider-img-box {
    width: 200px;
    height: 200px;
  }
  .group-icon {
    width: 50px;
  }

  .slider {
    min-height: 250px;
    transform: translateX(15px);
  }

  .custom-flex-wrap {
    flex-direction: column !important;
  }
}
